@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html:focus-within { scroll-behavior: smooth; }
* { outline-color: theme('colors.brand.600'); }
body { @apply bg-gray-50 text-gray-900; }
